 <!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4 text-white">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase"> <i class="fab fa-steam"></i> GameBox Unlimited</h5>
        <p>Here you can input all the games you've played!</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

       

      </div>
      <!-- Grid column -->

      

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        
          
        <!-- Links -->
        <h5 class="text-uppercase">Social Media</h5>

        <ul class="list-unstyled">
          <li>
            <!-- Facebook -->
            <i class="fab fa-facebook-f" ></i>
          </li>
          <li>
            <i class="fab fa-twitter"></i>
          </li>
          
          <li>
            <i class="fab fa-linkedin-in"></i>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="google.com"> zero.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
